.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app .add-btn {
    height: 40px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    font-size: medium;
}